[submodule "haproxy/ssl-certs"]
	path = haproxy/ssl-certs
	url = git.hw.dnt.no:~/repos/ssl-certs
  branch = master
[submodule "sherpa/sherpa"]
	path = sherpa/sherpa
	url = https://github.com/Turistforeningen/sherpa.git
  branch = master
[submodule "backups/secrets"]
	path = backups/secrets
	url = git.hw.dnt.no:~/repos/backups
  branch = master
[submodule "db/secrets"]
	path = db/secrets
	url = git.hw.dnt.no:~/repos/sherpa
[submodule "statsd-librato/secrets"]
	path = statsd-librato/secrets
	url = git.hw.dnt.no:~/repos/statsd-librato/
