[submodule "db/private-data"]
	path = db/private-data
	url = git.hw.dnt.no:~/private-data/private-data
  branch = master
[submodule "haproxy/ssl-certs"]
	path = haproxy/ssl-certs
	url = git.hw.dnt.no:~/repos/ssl-certs
  branch = master
[submodule "sherpa/sherpa"]
	path = sherpa/sherpa
	url = git@github.com:Turistforeningen/sherpa.git
  branch = docker-prod-settings
