[submodule "haproxy/ssl-certs"]
	path = haproxy/ssl-certs
	url = git.hw.dnt.no:~/repos/ssl-certs
  branch = master
[submodule "sherpa/sherpa"]
	path = sherpa/sherpa
	url = https://github.com/Turistforeningen/sherpa.git
  branch = master
[submodule "backups/secrets"]
	path = backups/secrets
	url = git.hw.dnt.no:~/repos/backups
  branch = master
[submodule "statsd-librato/secrets"]
	path = statsd-librato/secrets
	url = git.hw.dnt.no:~/repos/statsd-librato/
[submodule "postgres/psql/secrets"]
	path = postgres/psql/secrets
	url = git.hw.dnt.no:~/repos/sherpa-db/
[submodule "s3-sync/secrets"]
	path = s3-sync/secrets
	url = git.hw.dnt.no:~/repos/s3-sync/
[submodule "cron/sherpa"]
	path = cron/sherpa
	url = https://github.com/Turistforeningen/sherpa.git
