# Note that backups are started at 03:30 (at the time of this writing); see sherpa-prod/backups/crontab for changes

  0  2  *   *   *  /cron/run-sherpa.sh ./manage.py synchronize_aktiviteter
  0  3  *   *   *  /cron/run-sherpa.sh ./manage.py clearsessions
  3  3  *   *   *  /cron/run-sherpa.sh ./manage.py update_user_status
#  0  4  *   *   *  /cron/run-sherpa.sh ./manage.py sync_s3_dev

# ┬  ┬  ┬   ┬   ┬
# │  │  │   │   │
# │  │  │   │   │
# │  │  │   │   └───── day of week (0 - 6) (0 is Sunday, or use names)
# │  │  │   └────────── month (1 - 12)
# │  │  └─────────────── day of month (1 - 31)
# │  └──────────────────── hour (0 - 23)
# └───────────────────────── min (0 - 59)
